<div class="youtube-widget-container">
  {{#if isGM}}
    <label>YouTube URL:</label>
    <input type="text" id="yt-url" value="{{current}}" placeholder="https://www.youtube.com/watch?v=xxxxxx"/>
    <button id="add-to-playlist">Add to Playlist</button>
  {{/if}}

  <!-- Player container -->
  <div id="yt-player"></div>

  {{#if isGM}}
    <div class="yt-controls">
      <button id="yt-play">▶ Play</button>
      <button id="yt-pause">⏸ Pause</button>
      <button id="yt-sync">🔄 Sync</button>
    </div>
  {{/if}}

  <hr/>
  <h4>Playlist</h4>
  <ul>
  {{#each playlist}}
    <li>
      {{this}}
      {{#if ../isGM}}
        <button class="play-video" data-url="{{this}}">▶</button>
      {{/if}}
    </li>
  {{/each}}
  </ul>
</div>
